old/RRVDecompress/.vs/
old/RRVDecompress/RRVDecompress/bin/
old/RRVDecompress/RRVDecompress/obj/
old/RidgeRacerVArchiveTool/RidgeRacerVArchiveTool/bin/
old/RidgeRacerVArchiveTool/RidgeRacerVArchiveTool/obj/
