RidgeRacerVTool/.vs/
RidgeRacerVTool/RidgeRacerVTool/bin/
RidgeRacerVTool/RidgeRacerVTool/obj/
old/RRVDecompress/.vs/
old/RRVDecompress/RRVDecompress/bin/
old/RRVDecompress/RRVDecompress/obj/
old/RidgeRacerVArchiveTool/RidgeRacerVArchiveTool/.vs/
old/RidgeRacerVArchiveTool/RidgeRacerVArchiveTool/bin/
old/RidgeRacerVArchiveTool/RidgeRacerVArchiveTool/obj/
